.view__center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .inputContainer {
        width: 50%;
        height: 4rem;
        margin-bottom: 1rem;

        .inputForm {
            height: 2.5rem;
        }

        input {
            width: 100%;
            height: 100%;
            color: white;
            outline: none;
            border: none;
            font-size: 23px;
            padding: 10px 15px;
            border-radius: 10px;
            background: rgba(110, 110, 110, 0.6);
        }
    }

    .CafeContainer {
        width: auto;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: rgba(150,150,150,0.5);
        border-radius: 20px;
    }

    .buttonContainer {
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin-top: 1.5rem;;

        button {
            font-size: 1rem;
            border: none;
            outline: none;
            color: white;
            border-radius: 30px;
            padding: 15px;
            background: rgba(0,0,0,0.5);
            cursor: pointer;
            transition: all 0.1s;

            &:hover {
                -ms-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
                background: rgba(0,0,0,0.9);
            }
        }
    }
}